@keyframes drop {
    0% {
      top: -100px;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      top: 100vh;
      opacity: 0;
    }
  }
  
  .image-drop {
    position: absolute;
    width: 100px;
    animation: drop 2s linear forwards;
  }
  